{% extends "../profile.html" %}

{% block head %}
  <style>
    .tab-account {
      background-color: #fff;
      border-color: #dae1e7;
    }
  </style>
{% endblock %}

{% block tab %}
  <div class="flex-grow p-4" style="max-height: calc(100% - (2rem + 10px))">
    <form action="/account/password" method="POST" class="inline-form">
      <h2>Change Password</h2>
      <div>
        <label for="new_password">New Password</label>
        <input type="password" name="new_password">
      </div>
      <div>
        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password">
      </div>
      <div>
        <label for="current_password">Current Password</label>
        <input type="password" name="current_password">
      </div>
      <div>
        <button type="submit">Update</button>
      </div>
    </form>
  </div>
{% endblock %}
