{% extends "../profile.html" %}

{% block head %}
  <style>
    .tab-urls {
      background-color: #fff;
      border-color: #dae1e7;
    }
  </style>
{% endblock %}

{% block tab %}
  <div class="flex-grow" style="max-height: calc(100% - (2rem + 10px))">
    <div class="table">
      <div class="header">
        <div class="row">
          <div style="width: 250px">Slug</div>
          <div style="flex-grow: 1">URL</div>
          <div style="width: 100px">Visits</div>
          <div style="width: 200px">Created</div>
        </div>
      </div>
      <div class="body">
          {% for link in links %}
            <div class="row">
              <div style="width: 250px">
                <a href="https://urus.ai/{{ link.slug }}" rel="_blank">
                  https://urus.ai/{{ link.slug }}
                </a>
              </div>
              <div style="flex-grow: 1">
                <a href="{{ link.url }}" rel="_blank">
                  {{ link.url }}
                </a>
              </div>
              <div style="width: 100px"> {{ link.visits }} </div>
              <div style="width: 200px"> {{ link.created_at.format("%Y-%m-%d %H:%M:%S").to_string() }} </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="flex-shrink">
    <div class="border-b border-r border-light-gray">
      <div class="pagination">
        {% match previous_page %}
          {% when Some with (i) %}
            <a href="/profile/urls?page={{ i }}">&lsaquo;</a>
          {% when None %}
            <a class="disabled">&lsaquo;</a>
        {% endmatch %}

        {% for p in pages %}
          {% match p %}
            {% when Some with (i) %}
              {% if i == page %}
                <a href="/profile/urls?page={{ i }}" class="active">{{ i }}</a>
              {% else %}
                <a href="/profile/urls?page={{ i }}">{{ i }}</a>
              {% endif %}
            {% when None %}
              <a class="disabled">...</a>
          {% endmatch %}
        {% endfor %}

        {% match next_page %}
          {% when Some with (i) %}
            <a href="/profile/urls?page={{ i }}">&rsaquo;</a>
          {% when None %}
            <a class="disabled">&rsaquo;</a>
        {% endmatch %}
      </div>
    </div>
  </div>
{% endblock %}
