@import "tailwindcss/base";
@import "tailwindcss/components";

a {
  @apply no-underline text-black;
}

h1 {
  @apply text-2xl;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  @apply shadow appearance-none border rounded w-full text-gray-600 px-3 py-2 leading-tight;
}

input:focus {
  @apply outline-none;
}

button {
  @apply bg-red-600 text-white font-bold py-2 px-4 rounded ml-2;

  &:hover {
    @apply bg-red-700;
  }

  &:focus {
    @apply outline-none shadow-outline;
  }
}

.notice,
.alert {
  @apply fixed w-2/3 border px-4 py-3 rounded;

  margin: 60px 16.66666666667%;

  strong {
    @apply font-bold;
  }
}

.alert {
  @apply bg-red-100 border-red-400 text-red-600;
}

.notice {
  @apply bg-green-100 border-green-400 text-green-600;
}

.content {
  @apply w-full flex flex-col items-center justify-center flex-grow;
}

.section {
  @apply w-3/5 flex justify-center items-start p-4;

  min-height: calc(100vh - 5rem);
  height: calc(100vh - 5rem);

  section {
    @apply h-full;
  }
}

.tabs {
  @apply w-64 border-r border-gray-400 h-full;

  ul {
    @apply flex flex-col cursor-pointer;

    li {
      @apply text-right border border-r-0 border-transparent;

      a {
        @apply p-4 w-full block;
      }
    }
  }
}

.pagination {
  @apply flex justify-center;

  a {
    @apply text-black bg-white px-4 py-2 inline-block no-underline border select-none;

    transition: background-color .3s;
  }

  a.active {
    @apply bg-red-600 border-red-500 text-white;
  }

  a:hover:not(.active):not(.disabled) {
    @apply bg-gray-400;
  }

  a.disabled {
    @apply bg-gray-400;
  }
}

.inline-form > h2 {
  @apply block uppercase tracking-wide text-gray-700 font-bold mb-2;
}

.inline-form > div {
  @apply flex flex-wrap mb-6;

  label {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
  }
}

.modal-form {
  @apply mt-20 w-full max-w-2xl flex rounded;

  #image {
    @apply hidden bg-cover bg-no-repeat w-full px-8 pt-6 pb-8;

    background-position: 50% 50%;
  }

  form {
    @apply bg-white shadow-md w-full px-8 pt-6 pb-8;

    div {
      @apply mb-4;

      label {
        @apply block text-gray-700 text-sm font-bold mb-2
      }
    }

    div:nth-last-child(2) {
      @apply mb-6;
    }

    div:last-child {
      @apply flex items-center justify-between;

      a {
        @apply inline-block align-baseline font-bold text-sm text-blue-500;

        &:hover {
          @apply text-blue-700;
        }
      }
    }
  }
}

@screen lg {
  .modal-form {
    @apply mt-0;

    #image {
      @apply block;
    }
  }
}
