@import "tailwindcss/base";
@import "tailwindcss/components";

@import "./common.css";
@import "./components/nav.css";
@import "./components/table.css";

@import "tailwindcss/utilities";

#mascot {
  @apply bg-no-repeat bg-contain pointer-events-none bg-bottom;

  margin: 0 auto;
  width: 70vw;
  max-width: 500px;
  height: 70vw;
  background-image: url(/res/img/mascot.png);
}

@screen lg {
  #mascot {
    @apply fixed top-0 right-0 w-1/4 max-w-sm h-full bg-right-bottom m-0;
  }
}
