
nav > * {
  @apply py-2;
}

nav #hamburger {
  display: none;
}

nav #hamburger ~ div#hamburger-menu label {
  display: flex;
  width: 100%;
  height: 100%;
}

nav #hamburger:checked ~ div#menu {
  @apply block;

  ul.dropdown {
    @apply visible opacity-100 block relative bg-transparent;
  }
}

.avatar {
  @apply relative px-4 py-2 -my-2;
  a {
    @apply flex items-center text-white;

    img {
      @apply rounded-full h-8 w-8 flex items-center justify-center;
    }

    span {
      @apply text-white ml-2;
    }
  }

  ul {
    @apply absolute mt-2 -ml-4 w-full invisible opacity-0 hidden bg-red-500 text-white;
    transition: all 0.5s ease;
  }

  li {
    @apply px-4 py-2 text-white;

    &:focus-within,
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  &:hover > ul,
  &:focus-within > ul,
  & > ul:hover,
  & > ul:focus {
    @apply visible opacity-100 block;
  }
}


.nav-button {
  @apply block px-4 py-2 text-white;
}

.nav-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

@screen lg {
  .nav-button {
    @apply leading-none text-sm mt-0 border rounded border-white inline-block;
  }

  .nav-button:hover {
    @apply border-transparent text-red-500 bg-white;
  }
}
